<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="GitImporter">
        <listeners>
          <add name="console"
               type="System.Diagnostics.ConsoleTraceListener"
               initializeData="true">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
          </add>
          <add name="etw"
               type="System.Diagnostics.Eventing.EventProviderTraceListener, System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               initializeData="6F9DDF86-565C-46A7-A8E4-9DD1504A7E6D" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>