<?xml version="1.0"?>
<ThirdPartyConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Root>thirdparty/</Root>
  <GitUrl>../thirdparty</GitUrl>
  <ProjectFileRegex>.*\.csproj</ProjectFileRegex>
  <ConfigSpecRegex>configspec.txt</ConfigSpecRegex>
  <ThirdPartyRegex>^element /MyVob/thirdparty/(.*)/\.\.\.\s+(\S+)</ThirdPartyRegex>
  <Modules>
    <ThirdPartyModule>
      <!-- if a single dll was labelled, we may "move" it in a directory so that it can be in a git submodule -->
      <Name>MySingleDllThirdparty</Name>
      <ConfigSpecRegex>thirdparty/MySingleDll.dll (\S+)</ConfigSpecRegex>
      <ProjectFileMappings>
        <Mapping>
          <From>thirdparty\MySingleDll</From>
          <To>thirdparty\MySingleDllThirdparty\MySingleDll</To>
        </Mapping>
      </ProjectFileMappings>
      <Labels>
        <LabelMapping>
          <Label>MY_SINGLE_DLL-1.2.0.0</Label>
          <Commit>d4b925c68852e9a1caa756d9cb00c784ff7f4726</Commit>
        </LabelMapping>
        <LabelMapping>
          <Label>MY_SINGLE_DLL-1.3.0.0</Label>
          <Commit>ddb645f0f15df56e81fa64bca6b08e5d615a853d</Commit>
        </LabelMapping>
        <LabelMapping>
          <Label>MY_SINGLE_DLL-1.4.0.0</Label>
          <Commit>992aa9c7945b02da3a0a70a6902755230d6d0c72</Commit>
        </LabelMapping>
        <LabelMapping>
          <Label>MY_SINGLE_DLL-2.0.0.0</Label>
          <Commit>1c4b43b6a674258c2a01ba0baad7271fd8f344cd</Commit>
        </LabelMapping>
        <LabelMapping>
          <Label>MY_SINGLE_DLL-2.0.0.1</Label>
          <Commit>8f854039f920e47db5dc407c9b6841b755194a32</Commit>
        </LabelMapping>
        <LabelMapping>
          <Label>MY_SINGLE_DLL-2.1.0.0</Label>
          <Commit>39fd01f29d7ac4460162daad7fb20c6e7d7838c8</Commit>
        </LabelMapping>
        <LabelMapping>
          <Label>MY_SINGLE_DLL-2.1.0.1</Label>
          <Commit>20b649df6024250ce22e26e19f01a4d058704eba</Commit>
        </LabelMapping>
      </Labels>
    </ThirdPartyModule>
    <ThirdPartyModule>
      <Name>NormalThirdparty</Name>
      <Labels>
        <LabelMapping>
          <Label>NORMAL_THIRDPARTY-1.0.1.2854</Label>
          <Commit>61a8cd4591ff3478904632fdf50f98d614a7dd56</Commit>
        </LabelMapping>
        <LabelMapping>
          <Label>NORMAL_THIRDPARTY-2.1.0.0</Label>
          <Commit>b0324a7edd3d22b004ed8a9c45e31a9607240efb</Commit>
        </LabelMapping>
      </Labels>
    </ThirdPartyModule>
    <ThirdPartyModule>
      <!-- sometimes different components use different versions of the same thirdparty,
        using another path in the Vob, so that a different rule (here a different label) may be used -->
      <Name>ThirdpartyWithAlternateNames</Name>
      <AlternateNames>
        <string>AlternateName1</string>
        <string>AlternateName2</string>
      </AlternateNames>
      <Labels>
        <LabelMapping>
          <Label>THIRDPARTY_WITH_ALTERNATE_NAMES-1.0.0.0</Label>
          <Commit>93706b19a57a23e38f386647fa502bcd81f546ae</Commit>
        </LabelMapping>
        <LabelMapping>
          <Label>THIRDPARTY_WITH_ALTERNATE_NAMES-1.1.0.0</Label>
          <Commit>0f278027f5fb16551a01db0a17601677395dbcf7</Commit>
        </LabelMapping>
        <LabelMapping>
          <Label>THIRDPARTY_WITH_ALTERNATE_NAMES-2.0.0.0</Label>
          <Commit>ffa9b48e6280c53cbf2727f6cd51a18028b39d78</Commit>
        </LabelMapping>
      </Labels>
    </ThirdPartyModule>
    <ThirdPartyModule>
      <Name>log4net</Name>
      <Labels>
        <LabelMapping>
          <Label>LOG4NET-1.2.10.0</Label>
          <Commit>0223f6a684f505e08074f4535edbfa7da962713d</Commit>
        </LabelMapping>
      </Labels>
    </ThirdPartyModule>
    <ThirdPartyModule>
      <Name>protobuf</Name>
      <AlternateNames>
        <string>Protobuf</string>
      </AlternateNames>
      <Labels>
        <LabelMapping>
          <Label>PROTOBUF-1.0.0.262</Label>
          <Commit>625e9abd339fdeea8a8674a43e5d7512e8628b7e</Commit>
        </LabelMapping>
        <LabelMapping>
          <Label>PROTOBUF-1.0.0.275</Label>
          <Commit>90f5994911b1ddbaa2a78c627d99a7ca12c3cd22</Commit>
        </LabelMapping>
        <LabelMapping>
          <Label>PROTOBUF-1.0.0.282</Label>
          <Commit>c205e260da2a46c0d812c1d6489736faec6fe84b</Commit>
        </LabelMapping>
        <LabelMapping>
          <Label>PROTOBUF-2.0.0.480</Label>
          <Commit>cbab1ee4847e37a0f1f3fefafe1a0431c86322c6</Commit>
        </LabelMapping>
      </Labels>
    </ThirdPartyModule>
  </Modules>
</ThirdPartyConfig>
